@tailwind base;
@tailwind components;
@tailwind utilities;

html {
 scroll-behavior: smooth;
 font-family: 'Open Sans', sans-serif; 
}

body {
  background-image: url('/images/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.slide-in-left {
  animation: slideInLeft 1s ease-out forwards;
}

.slide-in-right {
  animation: slideInRight 1s ease-out forwards;
}

